kind: PersistentVolume
apiVersion: v1
metadata:
  name: listee-postgres-pv
  labels:
    app: listee
    svc: postgres
spec:
  storageClassName: manual
  capacity:
    storage: 512Mi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/k8s/listee/postgres/data"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: listee-postgres-pvc
  labels:
    app: listee
    svc: postgres
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 512Mi
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: listee-redis-pv
  labels:
    app: listee
    svc: redis
spec:
  storageClassName: manual
  capacity:
    storage: 512Mi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/k8s/listee/redis/data"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: listee-redis-pvc
  labels:
    app: listee
    svc: redis
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 512Mi
